
@{
    ViewBag.Title = "Criando torneio";
}

<h2>Criando o o torneio: @ViewBag.TorneioNome</h2>
<p>
    Assim como foram as últimas copas do mundo, estaremos trabalhando com uma competição que utiliza o sistema eliminatorio mata-mata com 16 equipes.
    Por favor insira os nomes das equipes e clique em confirmar.
</p>

<form action="/Home/CriarTorneio">
    @{
        for (int i = 0; i < 16; i += 2)
        {
            <div>
                <ul class="list-group" style="width: 20%; margin-bottom: 15px">
                    <li class="list-group-item"><input class="form-control form-control-sm" type="text" id="time@(i+1)" name="t@(i+1)" placeholder="Time @(i+1)" required></li>
                    <li class="list-group-item"><input class="form-control form-control-sm" type="text" id="time@(i+2)" name="t@(i+2)" placeholder="Time @(i+2)" required></li>
                </ul>
            </div>
        }
    }
    <button type="submit" class="btn btn-primary">Confirmar</button>
</form>
