@{
    ViewData["Title"] = "Inicio";
}

    <div class="text-center">
        <h1 class="display-4">Carrege um torneio</h1>
        <div class="card" style="width: 30%; margin: auto">
            <div class="card-body">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Torneios</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewBag.Torneio != null)
                            {
                                foreach (var torneio in ViewBag.Torneio)
                                {
                                    <tr>
                                        <th scope="row"><form action="/Home/IndexTableClick/@torneio.Id"><button type="submit" class="btn">@torneio.Nome</button></form></th>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <th scope="row">Ainda não existem torneios criados.</th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <h3>Ou crie um torneio agora</h3>
        <form action="/Home/CriarClick">
            <div class="form-group"  style="width: 30%;margin: auto; margin-bottom: 10px">
                <input type="text" class="form-control" id="nomeNovoTorneio" name="nomeNovoTorneio" placeholder="Insira o nome do novo torneio" required>
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
        </form>
    </div>
